li {
    padding-bottom: auto;  
    display: inline-flex;
    margin: auto;
}
body{
    background-color: #6f9870 ;
    max-width: 600px;
    margin: auto;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border-radius:  7px;
    padding-bottom: 1px;
    background-color: #6f9179; 
}
